@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
body{
   font-family: 'Poppins', sans-serif; 
}
a{  
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
li{
    list-style: none;
}
header{
    text-align: center;
    padding: 3% 0 2% 0;
  
    background-color:#fff ;
    
}

.custom-nav ul{ 
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 0;

}
.custom-nav ul li{
    font-weight:600;
    font-size: large;
    padding: 1.7rem .8rem ;
    transition: .5s ease-in-out;  
}
.custom-nav ul li:hover{
    background-color: #98bd56;   
}
.custom-nav ul li:hover a{
color: #fff;
}
.checkbtn{
    color: #0f0e0e;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
    display: none;
    z-index: 10;
   
}
#check{
    display: none;
}

.carousel-control-prev{
    width: 1.3rem;
    left: 1rem;
}
.carousel-control-next{
    width: 1.3rem;
    right: 1rem;
}

button span img{
    width: 120%;
   
}




.banner-desc-and-button {
    position: absolute;
    padding: 1rem;
    display: flex;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000ab;
    justify-content: space-between;
    gap: .8rem;
    align-items: center;
    width: 100%;
   
    
}
.banner-desc-and-button p {
    color: white;
    font-size: 1.1rem;
    max-width: 80%;
    line-height: 2.4rem;
}
.banner-desc-and-button a{
    background-color: #98bd56;
    color: white;
    border: 2px solid #98bd56;
    padding: .3rem 1rem;
    margin-right: 1rem;
    z-index: 100;
}
.banner-desc-and-button a:hover{
   background-color: transparent;
   color: #98bd56;
   border: 2px solid #98bd56;
   transition: .3s ease-in-out;
}

#services {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    max-width: 1140px;
    margin: 3.1rem auto 0rem auto;
}
.service-box{
    position: relative;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(194, 189, 189);
     margin-top: 3.1rem;
    height: 40%;
    width:18.75rem;
    padding: 1.3rem;
}

.service-box__icon {
    background-color: #fff;
    margin: -3.5rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #98bd56;
    box-shadow: 0px 0px 0px 4px #80808036;
}
.service-box h6{
    margin: 1.55rem;
    font-size: 1rem;
    font-weight: 900;
    
}

.service-box a{
    background-color: #98bd56;
   color: white;
   border: 2px solid #fff;
   border-radius: .25rem;
   display: inline-block;
   margin-top: 1.3rem;
   padding: .6rem;  
}
.service-box a:hover{
    background-color: transparent;
    border: 2px solid #98bd56;
    color: #98bd56;
    transition: .3s ease-in-out;
}
.service-box p {
    margin-top: .8rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
    font-weight: 400;
    color: #22222295;
}
.service-desc {
    line-height: 3rem;
    word-spacing: 4px;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    
}

#buy-now-container {
    background-image: url(images/buy-now-pic.jpg);
    position: relative;
    width: 100%;
    padding: 3rem 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
  
}


#buy-now-container p{ 
    width: 80%;
    font-size: 1.3rem; 
    line-height: 2.5rem;
}
#buy-now-container a {
    color: white;
    background-color: #98bd56;
    padding: 7px 35px;
     position: relative;
    top: 1.3rem; 
    right: 3rem;
    
   
}
#buy-now-container a:hover{
    background-color: transparent;
    color: #98bd56;
    border: 2px solid #98bd56;
    transition: .3s ease-in-out;
}
footer{
    background-color: #171b26;
}
#contact-container {
    background-color: #171b26;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 35px;
    padding: 25px;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.contact-container__logo{
  align-self: center;
   
}
.address p{
    padding-bottom: 1.5rem;
    font-size: large;
    font-weight: 800;
}
address :nth-of-type(1) {
    font-size: large;
    font-weight: 1000;
}

.links{
    
    white-space: nowrap;
}
.links p{
    font-size: large;
    font-weight: 900;
}
.links ul{
    padding-top: 1rem;
}

.links a{
    color: white;
    display: flex;
    align-items:center;
    gap: .7rem;
    font-size: large;
}

.newsletter {
    padding: 10px 15px;
    width: 250px;
    background-color: #3b4359;
    max-width: 100%;
}
.newsletter p {
    color: #b6aaaa;
    font-size: .8rem;
}
.newletter__box p+p{
    line-height: 220%;
}

.newletter__box > :first-child{
    font-size: large;
    font-weight: 900;
    color: #fff;
}
form  input {
    width: 100%;
    padding: 0px 10px;
    margin: .25rem 0;
    color: #fff;
    border: none;
}
form  input[type="text"] {
    color: #000;
    padding:3px 10px;
    
}

.submit-btn{
    background-color: #98bd56;
    border: 2px solid #98bd56;
}
.submit-btn:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #98bd56;
    color: #98bd56;
 
}
.copyright{
    background-color: #171b26;
    text-align: center;
    color: #fff;
    padding: 1rem;
    
    
}


.copyright span span{
    color: #98bd56;
}
.copyright div{
    background-color: #fff;
    height: 1px;
   margin-bottom: 1rem;

}
.address p{
    font-style: normal;
}
.carousel-inner img{
    width: 100%;
}


form input[type="text"]::placeholder{
    font-size:14px;
}

.address {
    width: 242px;
    max-width: 100%;
}